p {
  font-family: "Inter", Helvetica;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.04em;
}

li {
  font-family: "Inter", Helvetica;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.04em;
}

ul {
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.04em;
}

h1 {
  font-family: "Inter", Helvetica;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 450;
}

h2 {
  font-family: "Inter", Helvetica;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-family: "Inter", Helvetica;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 350;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: underline; /* Removes the underline */
  color: inherit; /* Makes the link text inherit the color of its parent */
}
