.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  background-color: rgb(66, 66, 66);
  justify-content: space-between;
}

.header-left-section {
  width: 200px;
  display: flex;
  margin-left: 0px;
  align-items: center;
  margin-left: 40px;
}

.header-middle-section {
  width: 50vw;
  flex: 1;
}

.header-right-section {
  width: 25vw;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.hamburger-icon {
  height: 25px;
  margin-left: auto;
  color: rgb(238, 240, 230);
}

.header-title {
  color: rgb(238, 240, 230);
}

.overview {
  display: flex;
  width: 70vw;
  aspect-ratio: 16/9;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;

  background-image: url("../assets/images/placeholder_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.landing-picture {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.centering-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
