.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  background-color: rgb(66, 66, 66);
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-left-section {
  width: 200px;
  display: flex;
  margin-left: 0px;
  align-items: center;
  margin-left: 40px;
}

.header-middle-section {
  width: 50vw;
  flex: 1;
}

.header-right-section {
  width: 6.5vw;
  display: flex;
  align-items: center;
  color: rgb(238, 240, 230);
}

.hamburger-icon {
  height: 25px;
  margin-left: auto;
}

.linkedin-icon {
  height: 25px;
  margin-left: auto;
}

.header-title-link {
  text-decoration: none;
  color: rgb(238, 240, 230);
}

.landing-picture {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.centering-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  max-width: 100vw;
}

@media (min-width: 3000px) {
  .centering-div {
    max-width: 1000px;
  }
  .below-overview {
    max-width: 1000px;
  }
}

.overview {
  display: flex;
  width: 80vw;
  aspect-ratio: 16/7;
  flex-direction: row;
  align-items: start;
  max-width: 1400px;
  margin-top: 130px;
  margin-bottom: 50px;

  background-image: url("../assets/images/overview.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.overview-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 50px;
}

.overview-right {
  display: flex;
  flex-direction: column;
}

.overview-title {
  color: rgb(238, 240, 230);
  font-weight: bold;
  text-align: center;

  margin-left: 65px;
}

.overview-body {
  color: rgb(238, 240, 230);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-left: 50px;
  /* height: 30vh; */
  /* max-height: 270px; */
  margin-top: 30px;
  width: 200px;
  padding: 30px;
}

.below-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
}

.below-overview-left {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.below-overview-right {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;

  margin-top: 8px;
  width: 75vw;
  text-align: center;
}

.spacing-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  justify-content: center;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.large-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}

.large-section-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  width: 30vw;
  max-width: 500px;
}

.large-section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  max-width: 500px;
}

.large-section-logo {
  display: flex;
}

.large-section-text-body {
  margin-top: 30px;
}

.small-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(82, 33, 33);
  width: 60vw;
  max-width: 330px;
}

.small-section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  margin-top: 30px;
}

@media (max-width: 700px) {
  .large-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .large-section-left,
  .large-section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 500px;
  }
  .small-section-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 500px;
  }
}

.soe-logo {
  width: 140px;
  height: auto;
  margin-top: 20px;
}

.nventric-logo {
  width: 170px;
  height: auto;
  margin-top: 20px;
}

.large-section-image-1 {
  margin-top: 20px;
  width: 60vw;
  max-width: 450px;
  border-radius: 20px;
}
