.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  background-color: rgb(66, 66, 66);
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-left-section {
  width: 200px;
  display: flex;
  margin-left: 0px;
  align-items: center;
  margin-left: 40px;
}

.header-middle-section {
  width: 50vw;
  flex: 1;
}

.header-right-section {
  width: 6.5vw;
  display: flex;
  align-items: center;
  color: rgb(238, 240, 230);
}

.hamburger-icon {
  height: 25px;
  margin-left: auto;
}

.linkedin-icon {
  height: 25px;
  margin-left: auto;
}

.header-title-link {
  text-decoration: none;
  color: rgb(238, 240, 230);
}
