.landing-picture {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.centering-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  max-width: 100vw;
}

@media (min-width: 3000px) {
  .centering-div {
    max-width: 1000px;
  }
  .below-overview {
    max-width: 1000px;
  }
}

.overview {
  display: flex;
  width: 80vw;
  aspect-ratio: 16/7;
  flex-direction: row;
  align-items: start;
  max-width: 1400px;
  margin-top: 130px;
  margin-bottom: 50px;

  background-image: url("../assets/images/overview.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.overview-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 50px;
}

.overview-right {
  display: flex;
  flex-direction: column;
}

.overview-title {
  color: rgb(238, 240, 230);
  font-weight: bold;
  text-align: center;

  margin-left: 65px;
}

.overview-body {
  color: rgb(238, 240, 230);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-left: 50px;
  /* height: 30vh; */
  /* max-height: 270px; */
  margin-top: 30px;
  width: 200px;
  padding: 30px;
}

.below-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
}

.below-overview-left {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.below-overview-right {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;

  margin-top: 22px;
  margin-bottom: 80px;
  width: 75vw;
  text-align: center;
}

.spacing-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  justify-content: center;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.large-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 30px;
}

.large-section-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  width: 30vw;
  max-width: 500px;
}

.large-section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  max-width: 500px;
}

.large-section-logo {
  display: flex;
}

.large-section-text-body {
  margin-top: 30px;
}

.small-section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.small-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60vw;
  max-width: 310px;
  border-radius: 25px;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  padding: 20px 25px 20px 25px;
}

.small-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.small-section-photo {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1.5;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.small-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-top: 20px;
}

@media (max-width: 1300px) {
  .large-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .large-section-left,
  .large-section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 500px;
  }
  .small-section-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 500px;
  }
}

.soe-logo {
  width: 140px;
  height: auto;
  margin-top: 20px;
}

.nventric-logo {
  width: 170px;
  height: auto;
  margin-top: 20px;
}

.large-section-image-1 {
  margin-top: 20px;
  width: 60vw;
  max-width: 450px;
  border-radius: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100px;
  padding-bottom: 50px;
}
